@{
    ViewBag.Title = "About";
}
<style>
    body {
        background-image: url("https://images.unsplash.com/photo-1516574187841-cb9cc2ca948b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    }
</style>
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    @*@ <h3>@ViewBag.Message</h3>*@

    <p style="font-weight: bold; font-size: 20px;">
        Welcome to our cutting-edge solution for streamlining and optimizing your pharmacy operations. Our sophisticated software is designed to revolutionize the way you run your pharmacy, empowering you to focus on what truly matters - providing exceptional care to our valued customers.

        With our platform, you gain access to a comprehensive suite of tools that seamlessly handle inventory management and customer data all in one place. Say goodbye to the complexities of manual record-keeping and welcome a new era of efficiency and accuracy. Whether you operate a small independent pharmacy or a large chain, our system scales effortlessly to meet your unique needs, ensuring that you stay ahead in the competitive healthcare landscape.

        Our team of dedicated professionals has meticulously crafted this solution to align perfectly with the dynamic requirements of modern pharmacies. Expect unmatched reliability, data security, and user-friendly interfaces that empower your staff to work effortlessly and collaboratively. Embrace the future of pharmacy management with us, and experience a transformation that will elevate your business to new heights.
    </p>
</main>